/* здесь используйте глобальные переменные */
$basic-black: #333333;
$basic-white: #ffffff;
$base-primary: #7859cf;
$base-secondary: #f0ebff;


$tablet-width: 767px;
$desktop-width: 1439px;
$mobile-width-only: 320px;
